* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: monospace;
  font-size: 0.75rem;
}
main {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  width: 100%;
  height: 100vh;
  background-color: #333;
  gap: 3px;
  padding: 20px;
}
.main-cell {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-column: span 3;
  grid-row: span 3;
  gap: 3px;
  background-color: #e0e0e0;
}
.sub-cell:focus {
  outline: 3px solid #007BFF;
  outline-color: red;
}
.sub-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}